<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular Demo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/slider" routerLinkActive="active">Mat Slider</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pc" routerLinkActive="active">Parent/Child</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rxjs" routerLinkActive="active">RxJS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/forms" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">TemplateDriven Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="forms/reactive" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Reactive Forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="forms/dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dynamic Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Theme" routerLinkActive="active">Theme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/table" routerLinkActive="active">Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers" routerLinkActive="active">Customers</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
